# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
supabase/.temp

# Local env files
.env
.env.*
!.env.example

# Local Netlify folder
.netlify

# Cypress artifacts
cypress/videos
cypress/screenshots
cypress/downloads

# Capacitor mobile app build artifacts
mobile/.output
mobile/ios/App/Pods
mobile/ios/App/Podfile.lock
mobile/android/.gradle
mobile/android/build
mobile/android/app/build
mobile/android/local.properties
mobile/android/capacitor-cordova-android-plugins
mobile/ios/App/App/public
mobile/android/app/src/main/assets/public
